resources/node-red/flows.json
[
    {
        "id": "27e20b15cee21fc4",
        "type": "tab",
        "label": "Lighting-control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c95cc58c8a02f65",
        "type": "switch",
        "z": "27e20b15cee21fc4",
        "name": "",
        "property": "midi.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "controlchange",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteoff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pitchbend",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 670,
        "y": 1100,
        "wires": [
            [],
            [
                "a8f41e826110c192"
            ],
            [
                "143a7a7b673ae6e6"
            ],
            []
        ]
    },
    {
        "id": "89e7d0bfd6742566",
        "type": "midi in",
        "z": "27e20b15cee21fc4",
        "name": "Midi In",
        "midiport": "0",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "6c95cc58c8a02f65",
                "3a50f619f08b889e",
                "34c3a066d0f38336"
            ]
        ]
    },
    {
        "id": "a8f41e826110c192",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "noteon",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1260,
        "wires": []
    },
    {
        "id": "143a7a7b673ae6e6",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "noteoff",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 880,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3a50f619f08b889e",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "midi",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d9916ec7cd864ac2",
        "type": "ola",
        "z": "27e20b15cee21fc4",
        "name": "DMXOUT",
        "host": "localhost",
        "port": 9090,
        "universe": "0",
        "size": 512,
        "x": 1280,
        "y": 1080,
        "wires": []
    },
    {
        "id": "34c3a066d0f38336",
        "type": "function",
        "z": "27e20b15cee21fc4",
        "name": "function 1",
        "func": "function scale(value, inMin, inMax, outMin, outMax) {\n    const result = (value - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;\n\n    if (result < outMin) {\n        return outMin;\n    } else if (result > outMax) {\n        return outMax;\n    }\n\n    return result;\n}\n\nmsg.payload = scale(msg.midi.data[1], 0, 127, 0, 255);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 940,
        "wires": [
            [
                "db2e17e915496b16",
                "c8e338f0c026bcdf"
            ]
        ]
    },
    {
        "id": "db2e17e915496b16",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "Scale Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 900,
        "wires": []
    },
    {
        "id": "c8e338f0c026bcdf",
        "type": "function",
        "z": "27e20b15cee21fc4",
        "name": "function 2",
        "func": "msg.payload = {\n    \"transition\": \"fade\",\n    \"time\": 500,\n    \"channels\": [\n        {\n            \"channel\": 1,\n            \"value\": msg.payload\n        },\n        {\n            \"channel\": 2,\n            \"value\": msg.payload\n        },\n        {\n            \"channel\": 3,\n            \"value\": msg.payload\n        },\n        {\n            \"channel\": 4,\n            \"value\": msg.payload\n        }]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1040,
        "wires": [
            [
                "d9916ec7cd864ac2"
            ]
        ]
    },
    {
        "id": "1a894fd13290d02b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-midi": "1.1.2",
            "node-red-contrib-ola": "0.0.4"
        }
    }
]