resources/node-red/light-control-flow.json
[
    {
        "id": "27e20b15cee21fc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c95cc58c8a02f65",
        "type": "switch",
        "z": "27e20b15cee21fc4",
        "name": "",
        "property": "midi.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "controlchange",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteoff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pitchbend",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 670,
        "y": 1100,
        "wires": [
            [],
            [
                "a8f41e826110c192",
                "b3fd142384b13ebf"
            ],
            [
                "143a7a7b673ae6e6",
                "5bccbd4c11a7f292"
            ],
            []
        ]
    },
    {
        "id": "89e7d0bfd6742566",
        "type": "midi in",
        "z": "27e20b15cee21fc4",
        "name": "",
        "midiport": "0",
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "6c95cc58c8a02f65",
                "3a50f619f08b889e"
            ]
        ]
    },
    {
        "id": "a8f41e826110c192",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "noteon",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 820,
        "y": 860,
        "wires": []
    },
    {
        "id": "143a7a7b673ae6e6",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "noteoff",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 880,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3a50f619f08b889e",
        "type": "debug",
        "z": "27e20b15cee21fc4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "midi",
        "x": 620,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b3fd142384b13ebf",
        "type": "function",
        "z": "27e20b15cee21fc4",
        "name": "Turn on Lights",
        "func": "msg.payload = {\n    \"transition\": \"fade\",\n    \"time\": 300,\n    \"channels\": [\n        {\n            \"channel\": 1,\n            \"value\": 255\n        },\n        {\n            \"channel\": 2,\n            \"value\": 255\n        },\n        {\n            \"channel\": 3,\n            \"value\": 255\n        },\n        {\n            \"channel\": 4,\n            \"value\": 255\n        }    ]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "d9916ec7cd864ac2"
            ]
        ]
    },
    {
        "id": "5bccbd4c11a7f292",
        "type": "function",
        "z": "27e20b15cee21fc4",
        "name": "Turn off lights",
        "func": "msg.payload = {\n    \"transition\": \"fade\",\n    \"time\": 300,\n    \"channels\": [\n        {\n            \"channel\": 1,\n            \"value\": 0\n        },\n        {\n            \"channel\": 2,\n            \"value\": 0\n        },\n        {\n            \"channel\": 3,\n            \"value\": 0\n        },\n        {\n            \"channel\": 4,\n            \"value\": 0\n        }]\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1120,
        "wires": [
            [
                "d9916ec7cd864ac2"
            ]
        ]
    },
    {
        "id": "d9916ec7cd864ac2",
        "type": "ola",
        "z": "27e20b15cee21fc4",
        "name": "DMXOUT",
        "host": "localhost",
        "port": 9090,
        "universe": "0",
        "size": 512,
        "x": 1280,
        "y": 1080,
        "wires": []
    },
    {
        "id": "bf054f1f96b8bf26",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-midi": "1.1.2",
            "node-red-contrib-ola": "0.0.4"
        }
    }
]